.vinForm {
  margin-bottom: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  flex: 1;
  padding: var(--button-padding);
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}

.inputError {
  flex: 1;
  padding: var(--button-padding);
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 16px;
  border-color: #ff3135;
}

.button {
  align-self: flex-start;
  padding: var(--button-padding);
  background: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.button:disabled {
  background: #ccc;
}
